body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:177px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:456px;
  width:40px;
  height:36px;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
