body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:183px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:359px;
  width:40px;
  height:26px;
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
