body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:32px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
  background:inherit;
  background-color:rgba(29, 29, 29, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2701 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:12px;
  width:2px;
  height:3px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:13px;
  background:inherit;
  background-color:rgba(29, 29, 29, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2702 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:7px;
  width:2px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:5px;
  background:inherit;
  background-color:rgba(29, 29, 29, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2703 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:2px;
  height:5px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:9px;
  background:inherit;
  background-color:rgba(29, 29, 29, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2704 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:9px;
  width:2px;
  height:9px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
  background:inherit;
  background-color:rgba(29, 29, 29, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2705 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:2px;
  height:3px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2706 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:23px;
  width:3px;
  height:3px;
  display:flex;
  transition:none;
}
#u2706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u2706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2707 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:2px;
  width:17px;
  height:28px;
  display:flex;
  transition:none;
}
#u2707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u2707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
