body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:225px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:395px;
  width:36px;
  height:36px;
}
#u733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
