body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:329px;
  width:46px;
  height:46px;
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
