body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:208px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:281px;
  width:44px;
  height:28px;
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
