body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:32px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4151 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:13px;
  width:4px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(29.99999999999994deg);
  -moz-transform:rotate(29.99999999999994deg);
  -ms-transform:rotate(29.99999999999994deg);
  transform:rotate(29.99999999999994deg);
  transition:none;
  transform-origin:50% 50%;
}
#u4151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4152 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:8px;
  width:4px;
  height:2px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4153 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:13px;
  width:4px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(150deg);
  -moz-transform:rotate(150deg);
  -ms-transform:rotate(150deg);
  transform:rotate(150deg);
  transition:none;
  transform-origin:50% 50%;
}
#u4153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4154 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:18px;
  width:20px;
  height:12px;
  display:flex;
  transition:none;
}
#u4154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u4154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4155 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:2px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
}
#u4155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4156 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:3px;
  width:4px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(-30.000000000000036deg);
  -moz-transform:rotate(-30.000000000000036deg);
  -ms-transform:rotate(-30.000000000000036deg);
  transform:rotate(-30.000000000000036deg);
  transition:none;
  transform-origin:50% 50%;
}
#u4156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4157 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:4px;
  height:2px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4158 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:3px;
  width:4px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(-150deg);
  -moz-transform:rotate(-150deg);
  -ms-transform:rotate(-150deg);
  transform:rotate(-150deg);
  transition:none;
  transform-origin:50% 50%;
}
#u4158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
