body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:94px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:24px;
  background:inherit;
  background-color:rgba(80, 252, 206, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:2px;
  width:5px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:2px;
  width:26px;
  height:25px;
  display:flex;
  transition:none;
}
#u716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:0px;
  width:27px;
  height:34px;
  display:flex;
  transition:none;
}
#u717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:34px;
}
#u717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:34px;
  display:flex;
  transition:none;
}
#u718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:34px;
}
#u718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
