body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:146px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:327px;
  width:40px;
  height:40px;
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
