body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:249px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:40px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:486px;
  width:32px;
  height:40px;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
