body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:187px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:322px;
  width:36px;
  height:32px;
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
