body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:32px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
  background:inherit;
  background-color:rgba(0, 1, 0, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4626 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:21px;
  width:2px;
  height:3px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
  background:inherit;
  background-color:rgba(0, 1, 0, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4627 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:0px;
  width:2px;
  height:3px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:2px;
  background:inherit;
  background-color:rgba(0, 1, 0, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4628 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:11px;
  width:3px;
  height:2px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:2px;
  background:inherit;
  background-color:rgba(0, 1, 0, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4629 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:11px;
  width:3px;
  height:2px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
  background:inherit;
  background-color:rgba(0, 1, 0, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4630 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:3px;
  width:2px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  transition:none;
  transform-origin:50% 50%;
}
#u4630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
  background:inherit;
  background-color:rgba(0, 1, 0, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4631 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:18px;
  width:2px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-45.00000000000015deg);
  -moz-transform:rotate(-45.00000000000015deg);
  -ms-transform:rotate(-45.00000000000015deg);
  transform:rotate(-45.00000000000015deg);
  transition:none;
  transform-origin:50% 50%;
}
#u4631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:2px;
  background:inherit;
  background-color:rgba(0, 1, 0, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4632 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:18px;
  width:3px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(-44.99999999999996deg);
  -moz-transform:rotate(-44.99999999999996deg);
  -ms-transform:rotate(-44.99999999999996deg);
  transform:rotate(-44.99999999999996deg);
  transition:none;
  transform-origin:50% 50%;
}
#u4632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:2px;
  background:inherit;
  background-color:rgba(0, 1, 0, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4633 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:4px;
  width:3px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(-45.00000000000004deg);
  -moz-transform:rotate(-45.00000000000004deg);
  -ms-transform:rotate(-45.00000000000004deg);
  transform:rotate(-45.00000000000004deg);
  transition:none;
  transform-origin:50% 50%;
}
#u4633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4634 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:5px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
}
#u4634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:8px;
  height:14px;
  display:flex;
  transition:none;
}
#u4635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u4635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
  display:flex;
  transition:none;
}
#u4636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
