body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:32px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:6px;
  width:22px;
  height:22px;
  display:flex;
  transition:none;
}
#u639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:5px;
  height:10px;
  display:flex;
  transition:none;
}
#u640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:10px;
}
#u640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:2px;
  background:inherit;
  background-color:rgba(1, 1, 1, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:6px;
  width:5px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(-45.059999999999995deg);
  -moz-transform:rotate(-45.059999999999995deg);
  -ms-transform:rotate(-45.059999999999995deg);
  transform:rotate(-45.059999999999995deg);
  transition:none;
  transform-origin:50% 50%;
}
#u641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:5px;
  background:inherit;
  background-color:rgba(1, 1, 1, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:4px;
  width:2px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-44.94000000000008deg);
  -moz-transform:rotate(-44.94000000000008deg);
  -ms-transform:rotate(-44.94000000000008deg);
  transform:rotate(-44.94000000000008deg);
  transition:none;
  transform-origin:50% 50%;
}
#u642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
