body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:206px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:566px;
  width:44px;
  height:22px;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
