body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:32px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
  background:inherit;
  background-color:rgba(23, 23, 23, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4790 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:5px;
  width:2px;
  height:4px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
  background:inherit;
  background-color:rgba(23, 23, 23, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4791 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:2px;
  height:4px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
  background:inherit;
  background-color:rgba(23, 23, 23, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4792 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:2px;
  height:4px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
  background:inherit;
  background-color:rgba(23, 23, 23, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4793 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:23px;
  width:2px;
  height:4px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
