body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:205px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:459px;
  width:44px;
  height:44px;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
