body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:178px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:40px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:443px;
  width:34px;
  height:40px;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
