body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:137px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:206px;
  width:40px;
  height:40px;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
