body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:123px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:354px;
  width:32px;
  height:32px;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
