body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:171px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:24px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:549px;
  width:44px;
  height:24px;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
