body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:36px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:367px;
  width:28px;
  height:36px;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
