body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:193px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:34px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:357px;
  width:30px;
  height:34px;
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
